body,html{
    height: 100%;
    width: 100%;
}

body{
    padding-top:100px;
}
#header{
    height: 80px;
    width: 100%;
}

#header a{
    height: 80px;
}
#header a img{
    height: 80px;
}

#logger{
    width: 50%;
    margin: 100px auto 0;
}


@media only screen and (max-width: 600px) {
    #logger{
        width: 100%;
        margin: 100px auto 0;
    }
}